

body {
    background-color: black;
    color: white;
    header {
        background-color: red !important;
        a { color: whitesmoke !important};
    };
    a {
        color: red !important;
    };
}
